*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: rgb(222, 138, 137);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  margin: 5rem 0 0 20rem;
}

h1 {
  font-size: 75px;
  font-weight: 900;
}

.loads {
  font-size: 22px;
  color: #fff;
  margin: 2rem 0 0 20rem;
}

.base {
  margin: 5rem 10rem 5rem 13rem;
  display: flex;
}

.black {
  display: flex;
  
}

.black1 {
  height: 25rem;
  width: 23rem;
  background-color:rgb(62, 60, 61);
}

.black2 {
  height: 25rem;
  width: 23rem;
  background-color:rgb(53, 51, 52);
}

.black3 {
  height: 25rem;
  width: 23rem;
  background-color:rgb(32, 30, 31);
}

.left, .right {
  height: 8rem;
  width: 8rem;
  background-color: #fff;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arr {
  height: 28px;
}